body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  background: url(https://i.ibb.co/tKzxvrJ/hand-draw-sketch-background-white-brick-wall-vector-63372271.jpg);
  background-size: cover;
}
canvas {
  border: 40px solid #61e846;
  border-radius: 10px;
  /* Set the width and height to half the actual size so it doesn't look pixelated */
  width: 800px;
  height: 500px;
  background: #e7e7e7;
}
canvas.shake {
  animation: shake 0.5s linear 1;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}


.sexy{
  color: #fff;
  background: #0072b9;
  padding: 1rem;
  border: 0;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 15px;
}
